body
{
    margin: 0px;
}

.header
{
    width: 100%;
    height: 100%;
    font-size: 36px;
    font: black;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding: 0.25em;
}

/* .header a:link{
    font-size: 16px;
    font-style: normal;
} */
.header a{
    position: relative;
    left: 60%;
    font-size: 16px;
    font-weight: normal;
}
.sidebar
{
    display: block;
    position: absolute;
    width: 35%;
    height: 700px;
    border-right: 1px solid black;
}

.sidebar a{
    color: green;
}
.sidebar a:visited{
    color: green;
}
.main
{
    display: inline-block;
    position: absolute;
    top: 150px;
    left: 500px;
    font-family: trebuchet ms, arial, sans-serif;
    font-size: 1.2em;
    font: rgb(39, 39, 39);
    height: auto;
    width: auto;
    
}

.main p{
    margin-top: 0px;
    margin-bottom: 50px;
}

form{
    margin: auto;
    position: relative;
    left: 20%;
}
form input{
    display: block;
    width: 150px;
    border: 2px dotted navy;
    margin-bottom: 15px;
}

textarea {
    border: 3px dotted orange;
    margin-bottom: 8px;

}

.footer
{
    display: inline-block;
    position: absolute;
    top: 765px;
    width: 100%;
    height: auto;
    padding: 1em 1em 1em 25px;
    border-top: 1px solid black;
}